@page "/search"

@using System.Globalization
@using Onebrb.SPA.Models

@inject HttpClient Http
@inject IStringLocalizer<Search> Loc
@inject IConfiguration Configuration

<PageTitle>Search profiles</PageTitle>

<p>Search profiles...</p>

@code {

}
