@page "/counter"
@using System.Globalization
@using OnebrbApi

@inject OnebrbApi OnebrbApiClient

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>@CultureInfo.CurrentCulture</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@if(commentModel != null)
{
    <p>@commentModel.AuthorFirstName</p>
}

@code {
    private int currentCount = 0;
    private CommentModel? commentModel;

    protected override async Task OnInitializedAsync()
    {
        commentModel = await OnebrbApiClient.CommentsAsync(1);
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
