@page "/"

@using Onebrb.SPA.Shared.Components
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<PageTitle>Onebrb</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Welcome to Onebrb</p>
    </Authorized>
    <NotAuthorized>
        <LoginFormComponent />
    </NotAuthorized>
</AuthorizeView>