@page "/profiles/{id:long?}"

@using System.Globalization
@using Onebrb.SPA.Models

@inject HttpClient Http
@inject IStringLocalizer<Profile> Loc

<PageTitle>Profile</PageTitle>

@if (@res is null) {
    <p>Loading...</p>
}
else
{
    <ProfileComponent ProfileModel="profile" />
}

@code {
    [Parameter]
    public long? Id { get; set; }

    private HttpResponseMessage? res;
    private ProfileModel? profile;

    protected override async Task OnInitializedAsync()
    {
        res = await Http.GetAsync($"https://localhost:7088/api/profiles/{Id}");

        if (res.IsSuccessStatusCode)
        {
            profile = await Http.GetFromJsonAsync<ProfileModel>($"https://localhost:7088/api/profiles/{Id}");
        }
    }
}
