@page "/profiles/{Id}"

@using System.Globalization
@using AutoMapper
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Onebrb.SPA.Models
@using System.Net.Http.Headers
@using Onebrb.SPA.Shared.Components
@using OnebrbApi

@inject IHttpClientFactory ClientFactory
@inject IStringLocalizer<Profile> Loc
@inject IConfiguration Configuration
@inject IAccessTokenProvider TokenProvider

@inject IOnebrbApiClient OnebrbApiClient
@inject IMapper Mapper

<PageTitle>Profile</PageTitle>

@if (@profile is null)
{
    <p>Profile not found.</p>
}
else
{
    <ProfileComponent ProfileModel="profile" />
}

@code {
    [Parameter]
    public string Id { get; set; }

    private HttpResponseMessage? res;
    private UserProfileModel? profile;

    protected override async Task OnInitializedAsync()
    {
        profile = Mapper.Map<UserProfileModel>(await OnebrbApiClient.UsersGETAsync(Id));
    }
}
