@page "/profiles/{id:long?}"
@inject HttpClient Http

@using Onebrb.SPA.Models

<PageTitle>Profile</PageTitle>

@if (profile == null)
{
    <p><em>Loading profile...</em></p>
}
else
{
    <p>Hello, @profile.FirstName @profile.LastName</p>
}

@code {
    [Parameter]
    public long? Id { get; set; }

    private ProfileModel? profile;

    protected override async Task OnInitializedAsync()
    {
        profile = await Http.GetFromJsonAsync<ProfileModel>($"https://localhost:7088/api/profiles/{Id}");
    }
}
